### 1. Numpy array creation

- 주어진 Python List L을 Numpy array로 변환하는 코드를 작성해보세요.

In [1]:
import numpy as np

L = [1, 2, 3, 4, 5]
np.array(L)

array([1, 2, 3, 4, 5])

### 2. Numpy array creation (2)

- 원소가 모두 0이고 크기가 10인 numpy array를 생성해보세요.

In [2]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

### 3. Numpy array creation (3)

- 1부터 1000까지의 모든 정수를 원소로 하는 numpy array를 생성해보세요.

In [3]:
np.arange(1, 1001)

array([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
         12,   13,   14,   15,   16,   17,   18,   19,   20,   21,   22,
         23,   24,   25,   26,   27,   28,   29,   30,   31,   32,   33,
         34,   35,   36,   37,   38,   39,   40,   41,   42,   43,   44,
         45,   46,   47,   48,   49,   50,   51,   52,   53,   54,   55,
         56,   57,   58,   59,   60,   61,   62,   63,   64,   65,   66,
         67,   68,   69,   70,   71,   72,   73,   74,   75,   76,   77,
         78,   79,   80,   81,   82,   83,   84,   85,   86,   87,   88,
         89,   90,   91,   92,   93,   94,   95,   96,   97,   98,   99,
        100,  101,  102,  103,  104,  105,  106,  107,  108,  109,  110,
        111,  112,  113,  114,  115,  116,  117,  118,  119,  120,  121,
        122,  123,  124,  125,  126,  127,  128,  129,  130,  131,  132,
        133,  134,  135,  136,  137,  138,  139,  140,  141,  142,  143,
        144,  145,  146,  147,  148,  149,  150,  151,  152,  153,  154,
        155,  156,  157,  158,  159,  160,  161,  162,  163,  164,  165,
        166,  167,  168,  169,  170,  171,  172,  173,  174,  175,  176,
        177,  178,  179,  180,  181,  182,  183,  184,  185,  186,  187,
        188,  189,  190,  191,  192,  193,  194,  195,  196,  197,  198,
        199,  200,  201,  202,  203,  204,  205,  206,  207,  208,  209,
        210,  211,  212,  213,  214,  215,  216,  217,  218,  219,  220,
        221,  222,  223,  224,  225,  226,  227,  228,  229,  230,  231,
        232,  233,  234,  235,  236,  237,  238,  239,  240,  241,  242,
        243,  244,  245,  246,  247,  248,  249,  250,  251,  252,  253,
        254,  255,  256,  257,  258,  259,  260,  261,  262,  263,  264,
        265,  266,  267,  268,  269,  270,  271,  272,  273,  274,  275,
        276,  277,  278,  279,  280,  281,  282,  283,  284,  285,  286,
        287,  288,  289,  290,  291,  292,  293,  294,  295,  296,  297,
        298,  299,  300,  301,  302,  303,  304,  305,  306,  307,  308,
        309,  310,  311,  312,  313,  314,  315,  316,  317,  318,  319,
        320,  321,  322,  323,  324,  325,  326,  327,  328,  329,  330,
        331,  332,  333,  334,  335,  336,  337,  338,  339,  340,  341,
        342,  343,  344,  345,  346,  347,  348,  349,  350,  351,  352,
        353,  354,  355,  356,  357,  358,  359,  360,  361,  362,  363,
        364,  365,  366,  367,  368,  369,  370,  371,  372,  373,  374,
        375,  376,  377,  378,  379,  380,  381,  382,  383,  384,  385,
        386,  387,  388,  389,  390,  391,  392,  393,  394,  395,  396,
        397,  398,  399,  400,  401,  402,  403,  404,  405,  406,  407,
        408,  409,  410,  411,  412,  413,  414,  415,  416,  417,  418,
        419,  420,  421,  422,  423,  424,  425,  426,  427,  428,  429,
        430,  431,  432,  433,  434,  435,  436,  437,  438,  439,  440,
        441,  442,  443,  444,  445,  446,  447,  448,  449,  450,  451,
        452,  453,  454,  455,  456,  457,  458,  459,  460,  461,  462,
        463,  464,  465,  466,  467,  468,  469,  470,  471,  472,  473,
        474,  475,  476,  477,  478,  479,  480,  481,  482,  483,  484,
        485,  486,  487,  488,  489,  490,  491,  492,  493,  494,  495,
        496,  497,  498,  499,  500,  501,  502,  503,  504,  505,  506,
        507,  508,  509,  510,  511,  512,  513,  514,  515,  516,  517,
        518,  519,  520,  521,  522,  523,  524,  525,  526,  527,  528,
        529,  530,  531,  532,  533,  534,  535,  536,  537,  538,  539,
        540,  541,  542,  543,  544,  545,  546,  547,  548,  549,  550,
        551,  552,  553,  554,  555,  556,  557,  558,  559,  560,  561,
        562,  563,  564,  565,  566,  567,  568,  569,  570,  571,  572,
        573,  574,  575,  576,  577,  578,  579,  580,  581,  582,  583,
        584,  585,  586,  587,  588,  589,  590,  591,  592,  593,  594,
        595,  596,  597,  598,  599,  600,  601,  602,  603,  604,  605,
        606,  607,  608,  609,  610,  611,  612,  613,  614,  615,  616,
        617,  618,  619,  620,  621,  622,  623,  624,  625,  626,  627,
        628,  629,  630,  631,  632,  633,  634,  635,  636,  637,  638,
        639,  640,  641,  642,  643,  644,  645,  646,  647,  648,  649,
        650,  651,  652,  653,  654,  655,  656,  657,  658,  659,  660,
        661,  662,  663,  664,  665,  666,  667,  668,  669,  670,  671,
        672,  673,  674,  675,  676,  677,  678,  679,  680,  681,  682,
        683,  684,  685,  686,  687,  688,  689,  690,  691,  692,  693,
        694,  695,  696,  697,  698,  699,  700,  701,  702,  703,  704,
        705,  706,  707,  708,  709,  710,  711,  712,  713,  714,  715,
        716,  717,  718,  719,  720,  721,  722,  723,  724,  725,  726,
        727,  728,  729,  730,  731,  732,  733,  734,  735,  736,  737,
        738,  739,  740,  741,  742,  743,  744,  745,  746,  747,  748,
        749,  750,  751,  752,  753,  754,  755,  756,  757,  758,  759,
        760,  761,  762,  763,  764,  765,  766,  767,  768,  769,  770,
        771,  772,  773,  774,  775,  776,  777,  778,  779,  780,  781,
        782,  783,  784,  785,  786,  787,  788,  789,  790,  791,  792,
        793,  794,  795,  796,  797,  798,  799,  800,  801,  802,  803,
        804,  805,  806,  807,  808,  809,  810,  811,  812,  813,  814,
        815,  816,  817,  818,  819,  820,  821,  822,  823,  824,  825,
        826,  827,  828,  829,  830,  831,  832,  833,  834,  835,  836,
        837,  838,  839,  840,  841,  842,  843,  844,  845,  846,  847,
        848,  849,  850,  851,  852,  853,  854,  855,  856,  857,  858,
        859,  860,  861,  862,  863,  864,  865,  866,  867,  868,  869,
        870,  871,  872,  873,  874,  875,  876,  877,  878,  879,  880,
        881,  882,  883,  884,  885,  886,  887,  888,  889,  890,  891,
        892,  893,  894,  895,  896,  897,  898,  899,  900,  901,  902,
        903,  904,  905,  906,  907,  908,  909,  910,  911,  912,  913,
        914,  915,  916,  917,  918,  919,  920,  921,  922,  923,  924,
        925,  926,  927,  928,  929,  930,  931,  932,  933,  934,  935,
        936,  937,  938,  939,  940,  941,  942,  943,  944,  945,  946,
        947,  948,  949,  950,  951,  952,  953,  954,  955,  956,  957,
        958,  959,  960,  961,  962,  963,  964,  965,  966,  967,  968,
        969,  970,  971,  972,  973,  974,  975,  976,  977,  978,  979,
        980,  981,  982,  983,  984,  985,  986,  987,  988,  989,  990,
        991,  992,  993,  994,  995,  996,  997,  998,  999, 1000])

### 4. Data Types

- np.int32와 np.int64의 차이점에 대해 서술해보세요.

> 둘 다 integer type인데, 숫자의 표현 범위가 다릅니다. int32는 하나의 원소마다 32bits를 할당하고, int64는 64bits를 할당합니다.

### 5. Indexing

- 주어진 2차원 Numpy array를 행렬이라고 생각했을 때, 두번째 행의 세번째 원소를 찾는 코드를 작성해보세요.

In [4]:
arr = np.array([[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]])

arr[1, 2]

6

### 6. Fancy Indexing

- 다음 주어진 arr2를 행렬이라고 할 때, 주어진 행렬의 첫번째 행과 두번째 열을 출력하는 코드를 작성해보세요.

In [5]:
arr2 = np.array([[10, 9, 8],
                 [7, 6, 5],
                 [4, 3, 2]])
print(arr2[0, :])
print(arr2[:, 1])

[10  9  8]
[9 6 3]

### 7. Masking

- 주어진 arr3에 대해서 30보다 큰 숫자만 뽑는 코드를 작성하세요.
(가능하면 masking을 사용하여 해결해보세요)

In [6]:
arr3 = np.array([30, 4, 550, 9, 112, 10000, 15, 21])
arr3[arr3 > 30]

array([  550,   112, 10000])

### 8. Find Min, Max value

- 주어진 arr4에 대하여 최소값과 최대값을 찾아서 출력하는 코드를 작성해보세요.

In [7]:
arr4 = np.array([50, 1110, 1, 230, 3, 40, 517590, -41, -4959])
print("min value : ", arr4.min())
print("max value : ", arr4.max())

min value :  -4959
max value :  517590

### 9. Find index of min, max value

- 주어진 arr5에 대하여 최소값과 최대값에 해당하는 원소의 Index를 찾아서 출력하는 코드를 작성해보세요.

In [8]:
arr5 = np.array([1, 33, 5502, 221, -591, 0, -9, 50491])
print("argmin value : ", arr5.argmin())
print("argmax value : ", arr5.argmax())

argmin value :  4
argmax value :  7

### 10. Array Concat

- 주어진 1차원 Numpy array 3개를 세로로 연결하여, 하나의 행렬을 구성하는 코드를 작성하세요.

In [9]:
arr1 = np.array([1, 2, 3])
arr2 = np.array([4, 5, 6])
arr3 = np.array([7, 8, 9])

np.vstack([arr1, arr2, arr3])
### Output ###
# mat = array([1, 2, 3],
#            [4, 5, 6],
#            [7, 8, 9])

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

### 11. Vector Operation

- 다음 주어진 2개의 벡터 v1, v2에 대하여 두 벡터의 합과 내적값을 구하는 코드를 작성하세요.

In [10]:
v1 = np.array([1, 2, 3])
v2 = np.array([4, -1, 2])
print(v1 + v2)
print(v1 @ v2)

[5 1 5]
8

### 12. Broadcasting

- 주어진 numpy array의 모든 원소에 각각 3을 더하는 코드를 작성하세요.

In [11]:
arr = np.array([-1, 0, 1])
arr + 3

array([2, 3, 4])

### 13. Reshaping Array

- 이미지 데이터를 처리할 때, numpy array를 통해서 이미지 데이터를 표현하면 "가로 pixel X 세로 pixel" 크기의 numpy array가 됩니다.

- 5x5 크기를 가지는 이미지가 아래 numpy array로 표현되었다고 했을 때, 이를 1차원 벡터로 변환하는 코드를 작성해보세요.

In [12]:
imgExample = np.array([[1, 2, 3, 4, 5],
                       [6, 7, 8, 9, 10],
                       [11,12,13,14,15],
                       [16,17,18,19,20],
                       [21,22,23,24,25]])

#imgExample.reshape(-1, 1) # column vector
imgExample.flatten() # row vector

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25])

### 14. Linear Algebra

- 다음 주어진 numpy array를 벡터라고 할 때, 벡터의 L2 norm을 계산하는 코드를 작성하세요.

Hint : 구글에 "numpy array l2 norm" 을 검색해보세요.

In [13]:
v = np.array([1, 10, 100])
np.linalg.norm(v)

100.50373127401788

### 15. Sorting (1)

- 다음 행렬 형태로 주어진 numpy array를 "행"별로 오름차순 정렬하는 코드를 작성해보세요.

In [14]:
mat = np.array([[1, -1, 3],
                [4, 3, -6],
                [0, 11, 9]])
mat.sort()
mat

array([[-1,  1,  3],
       [-6,  3,  4],
       [ 0,  9, 11]])

### 16. Sorting (2)

- 다음 행렬 형태로 주어진 numpy array를 "열"별로 내림차순 정렬하는 코드를 작성해보세요.

In [15]:
mat = np.array([[1, -1, 3],
                [4, 3, -6],
                [0, 11, 9]])
np.sort(mat, axis=0)[::-1]

array([[ 4, 11,  9],
       [ 1,  3,  3],
       [ 0, -1, -6]])

### 17. Sorting Index

- 다음 주어진 ids, heights는 각 index마다 같은 회원의 회원번호와 키의 값을 저장하고 있는 numpy array입니다.

- 회원들 중 키가 큰 순서대로 3명의 회원번호를 출력하는 코드를 작성해보세요.

In [16]:
ids = np.array([1002, 1100, 5021, 3758, 9927, 2114])
heights = np.array([154.9, 171.3, 190.2, 185.0, 169.7, 175.5])
candidates = np.argsort(heights)[::-1][:3]
ids[candidates]

array([5021, 3758, 2114])